@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);
@import 'primeicons/primeicons.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    background-color: #f4f4f4;
}

main {
    width: calc(100vw - 15px);
    height: calc(100vh - 29px);
}

:root {
    --primary-color: #2d313b !important;
}

button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
