@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    background-color: #f4f4f4;
}

:root {
    --primary-color: #2d313b !important;
}

main {
    height: 90vh;
}

button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
